.App {
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

img {
  width: 200px;
  height: 140px;
  margin: 10px;
}

form{
  margin-top: 10px;
}

.components {
  display: grid;
  grid-template-rows: 1fr 1fr .5fr .5fr 1fr;
}

.order-name {
  background-color: rgba(252, 161, 161, 0.936);
  margin-left: 40px;
  margin-right: 40px;
}

.food-images {
  background-color: rgba(252, 161, 161, 0.936);
  margin-left: 40px;
  margin-right: 40px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order-dropdowns {
  background-color: rgba(252, 161, 161, 0.936);
  margin-left: 40px;
  margin-right: 40px;
}

.instructions-input {
  background-color: rgba(252, 161, 161, 0.936);
  margin-left: 40px;
  margin-right: 40px;
}

.instructions-list {
  background-color: rgba(252, 161, 161, 0.936);
  margin-left: 40px;
  margin-right: 40px;
}




